[client]
port    = 3306
socket  = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket  = /var/run/mysqld/mysqld.sock
nice    = 0

[mysqld]

user      = mysql
pid-file  = /var/run/mysqld/mysqld.pid
socket    = /var/run/mysqld/mysqld.sock
port      = 3306
basedir   = /usr
datadir   = /var/lib/mysql
tmpdir    = /tmp

default-storage-engine  = InnoDB
lc_messages_dir         = /usr/share/mysql
lc_messages             = en_US
bind-address            = 0.0.0.0
skip-external-locking

# MyISAM #
key-buffer-size           = 16M
myisam-recover-options    = FORCE,BACKUP

# InnoDB #
max-allowed-packet      = 16M
max-connect-errors      = 1000000
innodb                  = FORCE

# Log #
expire-logs-days              = 3
sync-binlog                   = 1
max-binlog-size	              = 100M
log-queries-not-using-indexes = 1
slow-query-log                = 1
log-slow-verbosity            = query_plan
slow-query-log-file           = /var/log/mysql/mysql-slow.log
log-bin                       = /var/log/mysql/mariadb-bin
log-bin-index	                = /var/log/mysql/mariadb-bin.index
log-error                     = /var/log/mysql/mysql-error.log

# Tuning #
tmp-table-size          = 128M
max-heap-table-size     = 128M
query-cache-type        = 1

max-connections         = 100
thread-cache-size       = 128
open-files-limit        = 65535
table-definition-cache  = 1024
table-open-cache        = 2048

sort-buffer-size        = 256K
bulk-insert-buffer-size = 8M
myisam-sort-buffer-size = 8M
concurrent-insert       = 2
read-buffer-size        = 2M
read-rnd-buffer-size    = 1M

query-cache-limit       = 4M
query-cache-size        = 32M

# for more write intensive setups, set to DEMAND or OFF
#query-cache-type = DEMAND

innodb-log-buffer-size  = 32M
innodb-file-per-table   = 1
innodb-open-files       = 400
innodb-io-capacity      = 400

innodb-flush-method             = O_DIRECT
innodb-log-file-size            = 32M
innodb-log-files-in-group       = 2
innodb-flush-log-at-trx-commit  = 2

# 1=>each update transaction commit (or each statement outside of transaction) will need to flush log to the disk which is rather expensive
# 2=>means do not flush log to the disk but only flush it to OS cache
# 0=>is a bit less secure as you can lose transactions even in case MySQL Server crashes

innodb-file-per-table               = 1
innodb-buffer-pool-size             = 128M
innodb-buffer-pool-dump-at-shutdown = ON
innodb-buffer-pool-load-at-startup  = ON

[mariadb]

## plugin-load-add=ha_tokudb.so

# !includedir /etc/mysql/conf.d/
